div{
    display:block;
}
.container {
  min-height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
  text-align: center;
  align-content: center;
}
.btn-container{
  display: inline-block;
}
.text-green{
  color: green;
}
.text-red{
  color: red;
}
.text-black{
  color: black;
}